html {
    font-family: "Montserrat", sans-serif; 
    background-color: rgb(38, 42, 60);
    fill: rgb(184, 199, 207);
    color: rgb(184, 199, 207)
  }  

body {
  margin: 0px
}

p, li, h1, h3, a {
  margin:20px
}

p {
  font-size: 24px;
  text-align: justify;
}

li {
  font-size: 21px;
  line-height: 21px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

a {
  color: rgb(184, 199, 207)
}

#headerimage, img{
  width: 100%;
}

#sitemap, li{
  font-size: 24px;
}

.pheader {
  font-size: 24px;
}

.plink {
  font-size: 36px
}