html {
    font-size: 21px;
    font-family: "Montserrat", sans-serif; 
    background-color: rgb(246, 245, 255);
    fill: rgb(32, 37, 45);
    color: rgb(32, 37, 45)
  }  

p, h1, h2, h3, li, title, a {
    color: rgb(32, 37, 45)
}



